.commandCentre {
  display: grid;
  grid-template-columns: var(--CommandCentreColumn);
  grid-template-rows:
    calc(var(--commandCentreRow) * 2)
    calc(var(--commandCentreRow) * 2);
}

.gameStateDisplay {
  display: grid;
  grid-template-columns: calc(var(--CommandCentreColumn) * 0.8);
  grid-template-rows:
    calc(var(--commandCentreRow) * 0.75)
    calc(var(--commandCentreRow) * 0.75);
}

.gameStateDisplay-border {
  border: 1px solid black;
  border-radius: 5px;
}

.gameStateDisplaySlot {
  display: grid;
  grid-template-columns: repeat(2, calc(var(--CommandCentreColumn) * 0.8 / 2));
  grid-template-rows: calc(var(--commandCentreRow) * 0.8);
  font-size: 12px;
}

.commandCentreFontSize-title {
  font-size: 10px;
}

.commandCentreFontSize-display {
  font-size: 24px;
}

.nextTurnButtons {
  display: grid;
  grid-template-columns: calc(var(--CommandCentreColumn) * 0.8);
  grid-template-rows:
    calc(var(--commandCentreRow) * 0.6)
    calc(var(--commandCentreRow) * 0.6)
    calc(var(--commandCentreRow) * 0.8);
}
