.isPlayerDoneBox {
  display: grid;
  grid-template-columns: calc(var(--CommandCentreHalfColumn) * 0.3);
  grid-template-rows: calc(var(--commandCentreRow) * 0.3);
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
}

.checkPlayerIsDoneBox::before,
.checkPlayerIsDoneBox::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 25px;
  background-color: black;
}

.checkPlayerIsDoneBox::before {
  background-color: black;
  transform: rotate(45deg);
}

.checkPlayerIsDoneBox::after {
  background-color: black;
  transform: rotate(-45deg);
}
