.dice {
  display: grid;
  grid-template-columns: calc(var(--diceContainerColumn) * 0.7);
  grid-template-rows: calc(var(--diceContainerRow) * 0.7);
  border-radius: 5px;
  font-size: 50px;
}

.redDice {
  background-color: var(--light-red);
  border: 5px solid var(--medium-red);
}

.yellowDice {
  background-color: var(--light-yellow);
  border: 5px solid var(--medium-yellow);
}

.greenDice {
  background-color: var(--light-green);
  border: 5px solid var(--medium-green);
}

.blueDice {
  background-color: var(--light-blue);
  border: 5px solid var(--medium-blue);
}

.publicDice {
  background-color: white;
  border: 5px solid black;
}

.twoSecondDelay {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
