.playerBoard {
  display: grid;
  grid-template-columns: var(--playerBoardColumn);
  grid-template-rows:
  /*  top 4/6th of board is the buttons & locks */
    calc(var(--playerBoardRow) * 4 / 6)
    /* score card  & penalty tracker row */
    calc(var(--playerBoardRow) * 1 / 6)
    /* score board row */
    calc(var(--playerBoardRow) * 1 / 6);
}

.playerBoard-top {
  display: grid;
  grid-template-columns:
  /* buttons take the left 11/12ths of the board */
    calc(var(--playerBoardColumn) * 11 / 12)
    /* locks take the right 1/12th of the board */
    calc(var(--playerBoardColumn) * 1 / 12);
  /*  top 4/6th of board is the buttons & locks */
  grid-template-rows: calc(var(--playerBoardRow) * 4 / 6);
}

.playerBoard-top-buttonGrid {
  display: grid;
  grid-template-columns: repeat(11, var(--playerBoardButtonContainerWidth));
  grid-template-rows: repeat(4, var(--playerBoardButtonContainerHeight));
}

.playerBoard-top-lockGrid {
  display: grid;
  grid-template-columns: repeat(1, var(--playerBoardButtonContainerWidth));
  grid-template-rows: repeat(4, var(--playerBoardButtonContainerHeight));
}
