.scoreCard {
  display: grid;
  grid-template-columns: calc(var(--scoreCardWidth) * 0.8);
  grid-template-rows:
    calc(var(--playerBoardButtonContainerHeight) * 1 / 2 * 0.8)
    calc(var(--playerBoardButtonContainerHeight) * 1 / 2 * 0.8);
  background-color: var(--light-grey);
  border: var(--dark-grey) solid 2px;
  border-radius: 5px;
  font-size: 12px;
}

.scoreCard-topHalfContainer {
  border-bottom: 1px solid black;
  width: calc(var(--scoreCardWidth) * 0.7);
}
