.scoreCardExplanationContainer {
  display: grid;
  grid-template-columns: var(--scoreCardExplanationWidth);
  grid-template-rows:
    calc(var(--playerBoardRow) * 1 / 6 * 1 / 2)
    1px
    calc(var(--playerBoardRow) * 1 / 6 * 1 / 2);
}

.scoreCardExplanationContainerDivider {
  border-bottom: 1px solid black;
  width: calc(var(--scoreCardWidth) * 0.7);
}

.scoreCardExplanation {
  font-size: 8px;
}

.scoreCardRow {
  display: grid;
  grid-template-columns:
    var(--scoreCardExplanationWidth)
    repeat(12, var(--scoreCardWidth))
    var(--penaltyAreaWidth);
  grid-template-rows: calc(var(--playerBoardRow) * 1 / 6);
  background-color: var(--light-grey);
}

.penaltyArea {
  display: grid;
  grid-template-rows:
    calc(var(--playerBoardRow) * 1 / 6 * 1 / 2)
    calc(var(--playerBoardRow) * 1 / 6 * 1 / 2);
  grid-template-columns: var(--penaltyAreaWidth);
}

.penaltyArea-top {
  display: grid;
  grid-template-rows: calc(var(--playerBoardRow) * 1 / 6 * 1 / 2);
  grid-template-columns:
    calc(var(--penaltyAreaWidth) * 0.45)
    calc(var(--penaltyAreaWidth) * 0.1)
    calc(var(--penaltyAreaWidth) * 0.45);
}

.penaltyArea-bottom {
  display: grid;
  grid-template-rows: calc(var(--playerBoardRow) * 1 / 6 * 1 / 2);
  grid-template-columns: repeat(4, var(--penaltyBoxContainerWidth));
}
