:root {
  /* app dimensions */
  --playerColumnDivider: 80px;
  --playerBoardColumn: 500px;
  --playerBoardRow: 250px;
  --availableDiceRow: 50px;
  --rowSpacer: 50px;
  --bottomRow: 250px;

  /* colours */
  /* the public number is white */
  --white: white;
  --light-red: hsla(348, 68%, 93%, 1);
  --medium-red: hsla(355, 66%, 55%, 1);
  --light-yellow: hsla(40, 75%, 97%, 1);
  --medium-yellow: hsla(51, 99%, 64%, 1);
  --light-green: hsla(165, 25%, 94%, 1);
  --medium-green: hsla(137, 42%, 44%, 1);
  --light-blue: hsla(253, 41%, 91%, 1);
  --medium-blue: hsla(228, 42%, 38%, 1);
  --light-grey: hsla(0, 0%, 89%, 1);
  --medium-grey: hsla(0, 0%, 74%, 1);
  --dark-grey: hsla(0, 0%, 62%, 1);
  --main-beige: hsl(39, 97%, 86%);
  --blue: hsl(197, 100%, 47%);

  /* player board button & lock container dimensions */
  /* there are 12 slots at the top of the player board */
  --playerBoardButtonContainerWidth: calc(var(--playerBoardColumn) * 1 / 12);
  /* there are 6 rows on the player board */
  --playerBoardButtonContainerHeight: calc(var(--playerBoardRow) * 1 / 6);

  /* score card row */
  --scoreCardExplanationWidth: calc(var(--playerBoardColumn) * 0.05);
  --scoreCardWidth: calc(var(--playerBoardColumn) * 0.78 * 1 / 12);
  --penaltyAreaWidth: calc(var(--playerBoardColumn) * 0.17);
  --penaltyBoxContainerWidth: calc(var(--penaltyAreaWidth) * 1 / 4);

  /* score board row */
  --colourScoreTotalSign: calc(var(--playerBoardColumn) * 0.05);
  --colourScoreContainerWidth: calc(var(--playerBoardColumn) * 0.1);
  --colourScoreContainerHeight: calc(var(--playerBoardButtonContainerHeight));
  --colourScoreArthimeticOperator: calc(var(--playerBoardColumn) * 0.05);
  --totalScoreBox: calc(var(--playerBoardColumn) * 0.2);

  /* die & command centre */
  --dieAreaColumn: calc(var(--playerBoardColumn) * 3 / 4);
  --CommandCentreColumn: calc(var(--playerBoardColumn) * 1 / 4);
  --commandCentreRow: calc(var(--bottomRow) / 4);
  --diceContainerColumn: calc(var(--dieAreaColumn) / 3);
  --diceContainerRow: calc(var(--bottomRow) / 2);

  /* command centre */
  --CommandCentreHalfColumn: calc(var(--CommandCentreColumn) / 2);

  /* available numbers */
  --availableNumberContainerColumn: calc(var(--playerBoardColumn) * 1 / 9);
  --availableNumberContainerRow: var(--availableDiceRow);

  /* explanation box */
  --explanationBoxColumn: calc(var(--playerBoardColumn) / 3);
  --explanationBoxRow: var(--bottomRow);
}

.App {
  display: grid;
  margin-top: 50px;
  grid-template-columns:
    var(--playerBoardColumn)
    var(--playerColumnDivider)
    var(--playerBoardColumn);
  grid-template-rows:
    var(--playerBoardRow)
    var(--rowSpacer)
    var(--availableDiceRow)
    var(--rowSpacer)
    var(--bottomRow);
}

.centreAll {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.dieAndCommandCentre {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-template-columns: var(--dieAreaColumn) var(--CommandCentreColumn);
  grid-template-rows: var(--bottomRow);
  background-color: var(--main-beige);
}

.availableNumberBar1 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 3;
}

.availableNumberBar2 {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 3;
}
